{% extends 'base.html' %}
{% block content %}

<h2 class="text-center">Bestsellers</h2>
<div class="input-group mb-3">
    <label for="n" class="input-group-text">Show best:</label>
    <select id="n" class="form-select" onclick="fetchData()">
      <option value="1">1</option>
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
  </div>

<div class="d-flex justify-content-center mb-3">
    <div class="col-12 col-lg-3">
        <button class="btn btn-primary w-100" onclick="fetchData()">Fetch</button>
    </div>
</div>
<div id="bestsellers"></div>

<hr>

<h2 class="text-center">Profit</h2>
<div class="input-group mb-3">
    <label for="profit_by" class="input-group-text">Group by:</label>
    <select id="profit_by" class="form-select">
      <option value="month">Month</option>
      <option value="year">Year</option>
      <option value="day">Day</option>
    </select>
</div>
<div class="input-group mb-3">
    <label for="start_date" class="input-group-text">Start Date:</label>
    <input type="date" id="start_date" class="form-control">
    <label for="end_date" class="input-group-text">End Date:</label>
    <input type="date" id="end_date" class="form-control">
</div>
<div class="d-flex justify-content-center mb-3">
    <div class="col-12 col-lg-3">
        <button class="btn btn-primary w-100" onclick="fetchProfit()">Fetch</button>
    </div>
</div>


<div id="profit"></div>

{% endblock %}
{% block scripts %}
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script>
    function fetchData() {
        var n = document.getElementById('n').value;
        fetch('/dashboard/best_selling_products?limit=' + encodeURIComponent(n))
            .then(response => response.json())
            .then(data => {
                Plotly.newPlot('bestsellers', data);
            });
    }
</script>
<script>
    function fetchProfit() {
        var group_by = document.getElementById('profit_by').value;
        var base_url = '/dashboard/profit';
        var start_date = document.getElementById('start_date').value;
        var end_date = document.getElementById('end_date').value;
        if (start_date && end_date) {
            base_url += '?start_date=' + encodeURIComponent(start_date) + '&end_date=' + encodeURIComponent(end_date);
        }
        if (group_by) {
            base_url += base_url.includes('?') ? '&' : '?';
            base_url += 'profit_by=' + encodeURIComponent(group_by);
        }
        fetch(base_url)
            .then(response => response.json())
            .then(data => {
                Plotly.newPlot('profit', data);
            });
    }
</script>

<!-- <script>
    window.addEventListener("load", myInit, true); function myInit(){ fetchData(); fetchProfit(); }
</script> -->
{% endblock %}
