{% extends 'base.html' %}

{% block content %}
<h1 class="title display-4 text-center">{% block title %} Products Table {% endblock %}</h1>
<hr>
<style>
    /* Add margins to the table */
    .table-container {
        margin: 20px; /* Adjust the margin as needed */
    }

    /* Make the table responsive */
    .table-responsive {
        overflow-x: auto;
    }
</style>
<div class="table-container">
    <div class="table-responsive">
    <table id="data" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th data-data="photo" data-sort="false">Photo</th>
                <th data-data="title" data-sort="true">Title</th>
                <th data-data="category" data-sort="true">Category</th>
                <th data-data="weight" data-sort="true">Weight (g)</th>
                <th data-data="purchase_price" data-sort="true">Purchase price ($)</th>
                <th data-data="sale_price" data-sort="true">Sale price ($)</th>
                <th data-data="quantity" data-sort="true">Quantity</th>
                <th data-data="profit" data-sort="true">Profit ($)</th>
                <th data-data="description" data-sort="false">Description</th>
                <th data-data="add2cart" data-sort="false" data-searchable="false"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('#data').DataTable({
            ajax: "/api/products",
            pageLength: 10,
            serverSide: true,
            columns: [
                { data: "photo", render: function(data, type, row) {
                    if (data != 'No photo') {
                        return `<img src="${data}" alt="${row.title}" style="width: 100px; height: 100px;"/>`;
                    } else {
                        return 'No photo';
                    }
                }},
                { data: "title", render: function(data, type, row) {
                    return `<a href="/${row.id}" class="text-truncate" style="max-width: 150px; display: inline-block;">${data}</a>`;
                }},
                { data: "category"},
                { data: "weight" },
                { data: "purchase_price" },
                { data: "sale_price" },
                { data: "quantity" },
                { data: "profit" },
                { data: "description", render: function(data, type, row) {
                    return `<details name="description"><summary style="font-weight: bold">Description</summary><p>${data}</p></details>`;
                }},
                { data: "add2cart", render: function(data, type, row) {
                    return `<form action="/add2invoice/${row.id}" method="post"><div class="input-group-text"><input type="number" name="quantity" value="1" min="1" max="${row.quantity}" class="form-control" style="width: 100px;"/><div class="input-group-append"><button type="submit" class="btn btn-success">Add to Invoice</button></div></div></form>`;
                }}
            ]
        });
    });
</script>
{% endblock %}
