{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 style="width: 100%">{% block title %} Edit {{ customer.name }}'s info {% endblock %}</h1>
            <form method="post" enctype="multipart/form-data" class="form">
                <div class="mb-3">
                    <label for="title" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" value="{{ customer.name }}">
                </div>

                <div class="mb-3">
                    <label for="Phone" class="form-label">Phone</label>
                    <input type="text" class="form-control" name="phone" value="{{ customer.phone }}">
                </div>

                <div class="mb-3">
                    <label for="Address" class="form-label">Address</label>
                    <input type="text" class="form-control" name="address" value="{{ customer.address }}">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" name="email" placeholder="Email" value="{{ customer.email }}">
                </div>
                <div class="mb-3">
                    <label for="Notes" class="form-label">Notes</label>
                    <textarea class="form-control" name="notes" rows="6" value="{{ customer.notes }}"></textarea>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="{{ url_for('customer.customers') }}" class="btn btn-secondary">Back</a>
                </div>
            </form>
            
            <hr>
        </div>
    </div>
</div>
{% endblock %}