{% extends 'base.html' %}

{% block content %}
<h1 class="title display-4 text-center">{% block title %} #{{ invoice.idx }} {{ invoice.name }} {% endblock %}</h1>
<hr>
<style>
    /* Add margins to the table */
    .table-container {
        margin: 20px; /* Adjust the margin as needed */
    }

    /* Make the table responsive */
    .table-responsive {
        overflow-x: auto;
    }
</style>
<div class="">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3">
            <form method="POST" action="{{ url_for('invoice.rename', invoice_id=invoice.idx) }}">
                <div class="input-group-text">
                    <input type="text" class="form-control" name="new_name" placeholder="New invoice name">
                    <button type="submit" class="btn btn-primary">Rename</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="table-container">
    <div class="table-responsive">
    <table id="data" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th data-data="title" data-sort="true">Title</th>
                <th data-data="weight" data-sort="true">Weight (g)</th>
                <th data-data="purchase_price" data-sort="true">Purchase price ($)</th>
                <th data-data="sale_price" data-sort="true">Sale price ($)</th>
                <th data-data="quantity" data-sort="true">Quantity</th>
                <th data-data="edit" data-sort="false">Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>
                        <a href="{{ url_for('main.product', product_id=product.idx) }}" class="text-truncate" style="max-width: 150px; display: inline-block;">
                            {{ product.product.title }}
                        </a>
                    </td>
                    <td>{{ product.weight }}</td>
                    <td>{{ product.purchase_price }}</td>
                    <td>{{ product.sale_price }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>
                        <a href="{{ url_for('invoice.edit_product', invoice_id=invoice.idx, product_id=product.idx) }}" class="btn btn-primary btn-sm">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('#data').DataTable({
            order: [[1, 'asc']], // Specify default sorting column (e.g., Title in this case)
            columnDefs: [
                { orderable: false, targets: [0, 8] }, // Disable sorting for specific columns (Photo, Description, Edit, Delete)
                { searchable: false, targets: [8] } // Disable searching for Edit and Delete columns
            ]
        });
    });
</script>
{% endblock %}
