{% extends 'base.html' %}

{% block content %}
<h1 class="title display-4 text-center">{% block title %} #{{ invoice.idx }} {{ invoice.name }} {% endblock %}</h1>
<hr>
<style>
    /* Add margins to the table */
    .table-container {
        margin: 20px; /* Adjust the margin as needed */
    }

    /* Make the table responsive */
    .table-responsive {
        overflow-x: auto;
    }
</style>
<form method="POST" action="{{ url_for('invoice.rename', invoice_id=invoice.idx) }}">
    <div class="input-group-text mb-3 w-25 d-inline-block ms-3">
        <input type="text" class="form-control" name="new_name" placeholder="New invoice name">
        <button type="submit" class="btn btn-primary">Rename</button>
    </div>
<div class="table-container">
    <div class="table-responsive">
    <table id="data" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th data-data="title" data-sort="true">Title</th>
                <th data-data="weight" data-sort="true">Weight (kg)</th>
                <th data-data="purchase_price" data-sort="true">Purchase price ($)</th>
                <th data-data="sale_price" data-sort="true">Sale price ($)</th>
                <th data-data="quantity" data-sort="true">Quantity</th>
                <th data-data="profit" data-sort="true">Profit ($)</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>
                        <a href="{{ url_for('main.product', product_id=product.idx) }}" class="text-truncate" style="max-width: 150px; display: inline-block;">
                            {{ product.product.title }}
                        </a>
                    </td>
                    <td>{{ product.weight }}</td>
                    <td>{{ product.purchase_price }}</td>
                    <td>{{ product.sale_price }}</td>
                    <td>
                        <form method="post" enctype="multipart/form-data" class="form">
                            <div class="input-group-text mb-3 w-50">
                            <input type="text" class="form-control" name="quantity" value="{{ product.quantity }}" placeholder="Quantity">
                            <input type="hidden" name="product_id" value="{{ product.product.idx }}">
                            <input type="hidden" name="invoice_id" value="{{ invoice.idx }}">
                            <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </td>
                    <td>{{ product.profit }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('#data').DataTable({
            order: [[1, 'asc']], // Specify default sorting column (e.g., Title in this case)
            columnDefs: [
                { orderable: false, targets: [0, 8] }, // Disable sorting for specific columns (Photo, Description, Edit, Delete)
                { searchable: false, targets: [8] } // Disable searching for Edit and Delete columns
            ]
        });
    });
</script>
{% endblock %}
