{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center">ABOUT</h2>
            <p>This is a simple web application that allows you to add, edit, delete, and view products.</p>
            <p>The application is written in Python using the Flask framework.</p>
            <p>Created by: <a href="https://github.com/asiomchen" target="_blank">Anton Siomchen</a></p>
        </div>
    </div>
</div>
{% endblock %}
