<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} - Inventory</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('main.index') }}">Inventory</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Products
                </a>
                <ul class="dropdown-menu ml-auto" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{{ url_for('main.index') }}">All products</a>
                    {% for category in categories %}
                    <li><a class="dropdown-item" href="{{ url_for('main.category', category_id=category.idx) }}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.table') }}">Table view</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.create') }}">Create Product</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('pricing.pricings') }}">Pricings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('invoice.invoices') }}">Invoices</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('customer.customers') }}">Customers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.index') }}">Analytics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.about') }}">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <hr class="mt-0 mb-0">
    <div class="content">
        <div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="container alert alert-{{ category }} text-center mt-2 mb-2 ml-auto mr-auto" role="alert">
                 {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        {% block content %} {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
    {% block scripts %} {% endblock %}
</body>
<footer>
    <hr>
    <p class="text-center"> &copy;  <script>document.write(/\d{4}/.exec(Date())[0])</script> by Anton S. </p>
</footer>
</html>
