{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="title display-4 text-center">{% block title %} Products {% endblock %}</h1>
    {% if category_name is not none %}
        <h2 class="title display-6 text-center">Category: {{ category_name }}</h2>
    {% endif %}
    <hr>
    <div class="row">
        {% for product in products %}
        <div class="col-md-3 mb-3">
            <div class="card-wrapper">
                <div class="card shadow-lg rounded">
                    <img src="{{ deliver_image(product.photo.public_id, 390, 390) }}" class="card-img-top" alt="{{ product.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <p class="card-text">
                            <details name="description">
                                <summary>Description</summary>
                                <p>{{ product.description }}</p>
                            </details>
                        </p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Weight: {{ product.weight }} kg</li>
                            <li class="list-group-item">Purchase Price: ${{ product.purchase_price }}</li>
                            <li class="list-group-item">Sale Price: ${{ product.sale_price }}</li>
                            <li class="list-group-item">Quantity: {{ product.quantity }}</li>
                            <li class="list-group-item">Profit: ${{ product.profit }}</li>
                        </ul>
                        <div class="text-center mt-3">
                            <a href="{{ url_for('main.product', product_id=product.idx)}}" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}