{% extends 'base.html' %}
{% block content %}
<h1 class="title display-4 text-center">{% block title %} Invoice #{{ invoice.idx }} {% endblock %}</h1>
<hr>
<style>
    /* Add margins to the table */
    .table-container {
        margin: 20px; /* Adjust the margin as needed */
    }

    /* Make the table responsive */
    .table-responsive {
        overflow-x: auto;
    }
</style>
<div class="table-container">
    <div class="table-responsive">
    <table id="data" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th data-data="Title" data-sort="true">Title</th>
                <th data-data="weight" data-sort="true">Weight (kg)</th>
                <th data-data="purchase_price" data-sort="true">Purchase price ($)</th>
                <th data-data="sale_price" data-sort="true">Sale price ($)</th>
                <th data-data="quantity" data-sort="true">Quantity</th>
                <th data-data="profit" data-sort="true">Profit ($)</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.product_title }}</td>
                    <td>{{ product.weight }}</td>
                    <td>{{ product.purchase_price }}</td>
                    <td>{{ product.sale_price }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.profit }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
<div class="container align-items-right text-right shadow-lg p-2 mb-2 mt-1 bg-body rounded">
    <h4 class="text-right">Total profit: {{ invoice.total_profit }} $</h4>
    <h4 class="text-right">Total weight: {{ '%0.2f'|format(invoice.total_weight) }} kg</h4>
    
    {% set status_class = 'bg-success' if invoice.status == 'closed' else 'bg-danger' %}
    <h4 class="text-right">Status: <span class="badge {{ status_class }}">{{ 'Closed' if invoice.status == 'closed' else 'Open' }}</span></h4>
    
    {% if invoice.status != 'closed' %}
        <a href="{{ url_for('submit_invoice', invoice_id=invoice.idx) }}" class="btn btn-primary">Submit invoice</a>
    {% endif %}
</div>

    
    <a href="{{ url_for('index') }}" class="btn btn-primary">Back to home</a>
</div>
{% endblock %}
