{% extends "base.html" %}

{% block content %}
<div class="container mb-3 mt-3 d-flex justify-content-center">
    <div class="card shadow-lg rounded w-50 h-50 aspect-ratio-1x1">
        <div class="card-body text-center">
            <h3 class="card-title">Login</h3>
            <form method="POST" action="/login">
                <div class="mb-3 mt-3">
                    <input type="password" class="form-control" name="password" placeholder="Your Password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}