{% extends 'base.html' %}

{% block content %}
    <span class="title">
        <h1>{% block title %} {{ product.firstname }} {{ product.lastname }}{% endblock %}</h1>
    </span>
    <div class="content">
        <div class="product">
            <p><b>#{{ product.idx }}</b></p>
            <b>
                <p class="name">
                    <a href="{{ url_for('product', product_id=product.idx)}}">
                        {{ product.title }}
                    </a>
                </p>
            </b>
            <p>
                {% if product.photo %}
                    <img src="{{ url_for('uploaded_file', filename=product.photo)}}" alt="photo" width="200" height="200">
                {% else %}
                    No photo
                {% endif %}
            </p>            
            <p>Weight: {{ product.weight }} kg</p>
            <p>Purchase price: {{ product.purchase_price }} $</p>
            <p>Sale price: {{ product.sale_price }} $</p>
            <p>Quantity: {{ product.quantity }}</p>
            <p>Profit: {{ product.profit }} $</p>
            <div class="description">
                <h3>Description:</h3>
                <p>{{ product.description }}</p>
            </div>
            <form method="GET"
                action="{{ url_for('edit', product_id=product.idx) }}">
            <input type="submit" value="Edit product"
                onclick="return confirm('Are you sure you want to edit this entry?')">
        </form>
            <hr>

        <form method="POST"
                action="{{ url_for('delete', product_id=product.idx) }}">
            <input type="submit" value="Delete product"
                onclick="return confirm('Are you sure you want to delete this entry?')">
        </form>
    </div>
{% endblock %}
