{% extends 'base.html' %}

{% block content %}
<h1 class="title display-4 text-center">{% block title %} Products Table {% endblock %}</h1>
<hr>
<style>
    /* Add margins to the table */
    .table-container {
        margin: 20px; /* Adjust the margin as needed */
    }

    /* Make the table responsive */
    .table-responsive {
        overflow-x: auto;
    }
</style>
<div class="table-container">
    <div class="table-responsive">
    <table id="data" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th data-data="photo" data-sort="false">Photo</th>
                <th data-data="title" data-sort="true">Title</th>
                <th data-data="weight" data-sort="true">Weight (kg)</th>
                <th data-data="purchase_price" data-sort="true">Purchase price ($)</th>
                <th data-data="sale_price" data-sort="true">Sale price ($)</th>
                <th data-data="quantity" data-sort="true">Quantity</th>
                <th data-data="profit" data-sort="true">Profit ($)</th>
                <th data-data="description" data-sort="false">Description</th>
                <th data-data="add2cart" data-sort="false" data-searchable="false"></th>
                <th data-data="edit-delete" data-sort="false" data-searchable="false"></th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>
                        {% if product.photo != 'No photo' %}
                            <img src="{{ product.photo.url }}" alt="{{ product.title }}" style="width: 100px; height: 100px;"/>
                        {% else %}
                            No photo
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url_for('main.product', product_id=product.idx) }}" class="text-truncate" style="max-width: 150px; display: inline-block;">
                            {{ product.title }}
                        </a>
                    </td>
                    <td>{{ product.weight }}</td>
                    <td>{{ product.purchase_price }}</td>
                    <td>{{ product.sale_price }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.profit }}</td>
                    <td class="description">
                        <details name="description">
                            <summary style="font-weight: bold">Description</summary>
                            <p>{{ product.description }}</p>
                        </details>
                    </td>
                    <td>
                        <form action="{{ url_for('main.add2invoice', product_id=product.idx) }}" method="post">
                            <div class="input-group-text">
                                <input type="number" name="quantity" value="1" min="1" max="{{ product.quantity }}" class="form-control" style="width: 100px;"/>
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-success">Add to Invoice</button>
                                </div>
                            </div>
                        </form>
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Edit and Delete">
                            <form action="{{ url_for('main.edit', product_id=product.idx) }}" method="get">
                                <button type="submit" class="btn btn-primary">Edit</button>
                            </form>
                            <form action="{{ url_for('main.delete', product_id=product.idx) }}" method="post">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('#data').DataTable({
            order: [[1, 'asc']], // Specify default sorting column (e.g., Title in this case)
            columnDefs: [
                { orderable: false, targets: [0, 8] }, // Disable sorting for specific columns (Photo, Description, Edit, Delete)
                { searchable: false, targets: [8] } // Disable searching for Edit and Delete columns
            ]
        });
    });
</script>
{% endblock %}
